
body{
    background-color: aqua;
}

#gateauxcase{
height: 200px;
width: 100px;
border: 1px solid rgb(6, 7, 7);
}

.gateauxcase{
    display: grid;
    /* i use auto-fit here so that the images can be responsive, that means the images will adapt in function
    of the size of thescreen the minmax notation here reprensent the minimum and the maximun size*/
    grid-template-rows: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.gateauxcase .gateauxVorstellen{
    background-color: var(--card-color);
    padding:  3rem 2rem;
    text-align: left;
    transform-origin: top center;
}
img{
    
    height: 100px;
width: 100px;
}